body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 30px;
}

/* head style */
header{
	background-color: #32AA21;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}

h1, h2{
	font-family: 'Girassol', cursive;
}

header h1{
	color: white;
    font-size: 50px;
}

header img{
	border-radius: 90px;
    width: 300px;
    border: 12px solid #371284;
}

/* main style */
main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: #9D4C17;
	margin: 40px 0 15px;
}

p{
	font-family: 'Passion+One', cursive;
}

p span{
	color: #32AA21;
}

li{
	font-family: 'Passion+One', cursive;
	counter-increment: li
}

/* color of ol and ul lists */
ol {
	list-style: none; counter-reset: li
}

li span::before {
	content: counter(li); color: #32AA21;
    display: inline-block; width: 1em;
    margin-left: -1em;
}

li a::before {
    content: "•"; color: #371284;
    display: inline-block; width: 1em;
    margin-left: -1em
}

ul{
	list-style: none;
}

/* style de los links */
a{
   color: #9D4C17 
}

a:hover{
    color: white;
	background-color: #32AA21;
}

/* pie de web */
footer{
	background-color: #371284;
	text-align: center;
	color: white;
	padding: 30px;
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}

/* classes */
p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}
img.size{
	height: 200px;
	width: 350px;
	margin: 40px 25px;
}
ol.padding{
	padding: 18px;
}
ul.padding{
	padding: 0;
}

img.img-final{
	margin:  20px 170px 0;
}
img.avatar{
	width: 48px;
	margin-top: 0;
	margin-right: 20px;
}
